# Environment
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit
.streamlit/

# Local data and index
data/
index_store/

# OS
.DS_Store
Thumbs.db

# Base de données SQLite
*.db
rag_history.db
*.sqlite3
